In [11]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv("../6_integrated_cleaned/integration_cleaned_conc_definitive.csv")

In [23]:
#UNICITY
df['combined'] = df['name'] + df['address']

# Find duplicates considering name and address
duplicates = df[df.duplicated(subset='combined', keep=False)]
duplicate_counts = duplicates['combined'].value_counts()


for value, count in duplicate_counts.items():
    print(f'{value} - {count} occurrences')

Circolo Arci BellezzaVia Giovanni Bellezza 16, 20136 Milano Italia - 2 occurrences
Long YuanVia Lorenteggio 43, 20146 Milano Italia - 2 occurrences
Bar Viale CertosaViale Certosa 125, 20151 Milano Italia - 2 occurrences
Hot PotVia Paolo Lomazzo 17, 20154 Milano Italia - 2 occurrences
Burgez Corso Como 2Corso Como 2, 20154 Milano Italia - 2 occurrences
Poke House - FiammaVia Galvano Fiamma, 5, 20129 Milano Italia - 2 occurrences
Il Cappellaio MattoVia, Ripa Di Porta Ticinese, 51, 20143 Milano Mi, 20143 Milano Italia - 2 occurrences
Ham Holy Burger - Milano, viale BlignyViale Bligny 39, 20136 Milano Italia - 2 occurrences
CHICCO BistrotAngolo Piazza Meda  Via Adalberto Catena 2 Angolo piazza meda, 20121 Milano Italia - 2 occurrences
Caffe Ambrosiano Bar tavola freddaVia San Vittore, di fronte Ospedale San Giuseppe, Milano Italia - 2 occurrences
Isola Verde La PizzaVia Mario Morgantini Angolo, 20148 Milano Italia - 2 occurrences
I Due Poeti Caff√©tteriaPiazza Luigi Vittorio Bertarelli 4, 20122 Milano Italia - 2 occurrences
BarlafusLargo Vulci, 7, 20159 Milano Italia - 2 occurrences
Great American GrillVia Lucio Giunio Columella, 36, 20128 Milano Italia - 2 occurrences

In [19]:
#drop duplicates
df['combined'] = df['name'] + df['address']

# Drop duplicates and keep the first occurrence
df.drop_duplicates(subset='combined', keep='first', inplace=True)

# Remove the 'combined' column
df.drop('combined', axis=1, inplace=True)

# Find duplicates again and count occurrences
duplicates = df[df.duplicated(subset=['name', 'address'], keep=False)]
duplicate_counts = duplicates.groupby(['name', 'address']).size().reset_index(name='occurrences')

# Print duplicates and their counts
for _, row in duplicate_counts.iterrows():
    value1 = row['name']
    value2 = row['address']
    occurrences = row['occurrences']
    print(f'{value1} - {value2} - {occurrences} occurrences')

In [30]:
#COMPLETNESS
from tabulate import tabulate
df.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
#df.drop('combined', axis=1, inplace=True)


null_counts = df.isnull().sum()
not_null_counts = df.notnull().sum()

table = []
for column in df.columns:
    null_count = null_counts[column]
    not_null_count = not_null_counts[column]
    table.append([column, null_count, not_null_count])

# Print the table
headers = ['Column Name', 'Null Count', 'Non-Null Count']
print(tabulate(table, headers, tablefmt='grid'))

+---------------+--------------+------------------+
| Column Name   |   Null Count |   Non-Null Count |
+===============+==============+==================+
| id            |            0 |             6971 |
+---------------+--------------+------------------+
| name          |            0 |             6971 |
+---------------+--------------+------------------+
| cook_type     |          936 |             6035 |
+---------------+--------------+------------------+
| address       |            9 |             6962 |
+---------------+--------------+------------------+
| latitude      |          920 |             6051 |
+---------------+--------------+------------------+
| longitude     |          920 |             6051 |
+---------------+--------------+------------------+
| rating        |          770 |             6201 |
+---------------+--------------+------------------+
| price_level   |         1811 |             5160 |
+---------------+--------------+------------------+
| total_reviews |            0 |             6971 |
+---------------+--------------+------------------+
| reviews       |            2 |             6969 |
+---------------+--------------+------------------+

In [ ]:
df.dropna(subset=['address'], inplace=True)